body{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(254,229,194,1) 9%, rgba(8,170,50,1) 100%);
}
    
    .container {
        width: 80%;
        max-width: 400px;
        margin: 10% auto;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        padding: 1.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    
    h1 img{
        width: 3rem;
    }

    input {
        width: 70%;
        padding: 0.4rem;
        margin-right: 0.5rem; 
        border: 0.1rem solid rgb(204, 204, 204);
    }
    
    button {
        background-color: rgb(7, 167, 7);
        color: white;
        border: none;
        padding: 0.8rem 1.2rem;
        cursor: pointer;
    }
    
    ul {
        padding: 2.3%;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 0;
    }
    
    li.completed {
        text-decoration: line-through;
    }
    
    button.elimina {
        background-color: rgb(199, 10, 10);
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
